*{
    margin: 0;
    padding: 0;

}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightblue;
}
.encabezado{
    background: gray;
    color: white;
    padding: 25px;
    margin: 5px;
    text-align: center;
}
.contenido{
    display: flex;
    flex-direction: space-between;
    flex: 1;
    background: lightgray;
}
.texto1{
    padding: 15px;
    margin: 10px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    flex: 1;
}
.pie{
    border: 1px lightgray;
    padding: 10px;
    background: gray;

}
.flex-container{
    display: flex;
    height: 500px;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    background: lightgrey;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch

}
.flex-container div{
    background: lightblue;
    width: 150px;
    line-height: 12px;
    margin: 10px;
    padding: 12px;
}
@media(max-width:500px){
    .flex-container{
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }
    .contenido{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
